<h1>New division</h1>

<form action="/wizard_divide">
  <label for="a">
    Divide this:
  </label>
  <input id="a" name="first_num" text="text">

  <label for="v">
    by this:
  </label>
  <input id="v" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
