<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="f">
    Multiply this:
  </label>
  <input id="f" name="first_num" text="text">

    <label for="vh">
    by this:
  </label>
  <input id="vh" name="second_num" text="text">

  <button>
    Multiply!
  </button>
</form>
